.accent-0 {
    background: #534AB7;
}

.accent-1 {
    background: #1D9E75;
}

.accent-2 {
    background: #D85A30;
}

.accent-3 {
    background: #D4537E;
}

.accent-4 {
    background: #378ADD;
}

.accent-5 {
    background: #BA7517;
}